<div class="content">
  <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <div class="feedback-error form-group" *ngIf="apiError" [innerHTML]="apiError"></div>
    <div class="form-group" [class.has-error]="formErrors.username">
      <div class="md-form">
        <input
          class="form-control"
          type="text"
          name="username"
          formControlName="username"
          required
          placeholder="Username"
          autofocus/>
        <label>Username</label>
      </div>
    </div>
    <div class="form-group" [class.has-error]="formErrors.password">
      <div class="md-form">
        <input
          class="form-control"
          type="password"
          name="password"
          formControlName="password"
          required
          placeholder="Password" />
        <label>Password</label>
      </div>
    </div>
    <button type="submit" class="btn-login" [disabled]="!authForm.valid || loading">
      <span *ngIf="loading; else loginBtn" [class.loading]="loading">
        <i class="icon-smx-spinner spinner"></i>
        <span class="txt">Authenticating</span>
      </span>
      <ng-template #loginBtn>Login</ng-template>
    </button>
  </form>
</div>
